.footer {
    background-image: linear-gradient(to right, #282828, 70%, black);
    color:white;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    height: 13rem;
}

.footer .logo {
  height: 90%;
  width: 70%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footer .content-container {
  height: 100%;
}

.footer p {
  font-size: 1.2vmin;
}

.footer a {
  color: white;
}
