
.table-container {
  padding-top: 10%;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10%;
}

.table-container .table {
  width: 100%;
}

.table-head {
  background-color: grey;
  color: white;
}
